:root {
    --tw-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

body {
    margin: 0;
    background-color: #fff;
    border-top: 8px solid #376A8F;
    font-family: 'Cabin', sans-serif;
}

a {
    text-decoration: none;
}

header {
    position: relative;
    height: 600px;
}

.header-wrapper {
    margin: 0 128px 0 auto;
    height: 500px;
    width: 1024px;
    display: flex;
    align-items: center;
}

.header-left {
    position: relative;
    height: 300px;
    width: 250px;
}

.header-left div:first-child {
    transform: rotate(352deg);
    width: 250px;
    position: absolute;
    height: 300px;
    background: #376A8F;
    border-radius: 20px;
    z-index: -1;
}

.profile-img {
    height: 100%;
    width: 100%;
    border-radius: 20px;
    object-fit: cover;
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.header-right {
    margin-left: 96px;
    flex: 1;
}

.header-right h1 {
    font-size: 3.5rem;
    line-height: 1;
    margin-top: 0;
    margin-bottom: 1rem;
    font-weight: 700;
    letter-spacing: .2rem;
}

.header-right span {
    display: inline-block;
    color: #2C445A;
    font-size: 2rem;
    margin-bottom: .5rem;
}

.header-right p {
    font-size: 1.5rem;
    color: #485D71;
    line-height: 1.5em;
    margin: 0;
}

.btn {
    border: 1px solid white;
    border-radius: 30px;
    padding: 5px 10px;
    letter-spacing: 0.1em;
    cursor: pointer;
    box-shadow: 0 0 20px rgb(0 0 0 / 8%);
    font-family: 'Inter', sans-serif;
}

.btn-accent {
    background-color: #3292e4;
    padding: 15px 20px;
    font-size: 1rem;
    font-weight: 600;
}

.btn-accent:hover {
    background-color: #358cd8;
}

.btn-accent a {
    color: white;
}

.projects-link {
    display: flex;
    align-items: center;
    color: #B8C2CB;
    text-decoration: none;
}

.projects-link:hover {
    text-decoration: underline;
}

.projects-link svg {
    height: 1rem;
    margin-left: 5px;
}

.projects-card .btn {
    margin: 0 20px;
}

.projects-wrapper {
    width: 100%;
    min-height: 644px;
    background-color: #2C445A;
    margin-bottom: 32px;
}

.projects {
    max-width: 1024px;
}

.projects,
.contact {
    padding-bottom: 3rem;
    margin: 0 auto;
    width: 80%;
}

.projects-header {
    color: #fff;
}

.contact-header {
    color: #2C445A;
}

.projects-header,
.contact-header {
    text-align: center;
    margin-bottom: 2.5rem;
}

.projects-header p {
    color: #B8C2CB;
}

.contact-header p {
    color: #485D71;
}

.projects-header p,
.contact-header p {
    margin: 0;
    font-size: 1.2rem;
}

.projects-list {
    display: flex;
    justify-content: space-between;
}

.projects-card {
    border-radius: 1rem;
    width: 48%;
    color: #fff;
    box-shadow: 0 0 20px rgb(0 0 0 / 8%);
}

.projects-card p {
    color: #E2E8ED;
    line-height: 1.5rem;
}

.projects-card div:first-child {
    width: 100%;
    height: 300px;
}

.projects-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: top;
    border-radius: 1rem;
    box-shadow: 0 0 20px rgb(0 0 0 / 8%);
}

.projects-info {
    padding: 0 20px;
}

.contact-info {
    width: 20%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.contact-info svg {
    width: 32px;
}

.projects-header h2,
.contact-header h2 {
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    position: relative;
    transition: all 0.4s ease;
    padding: 10px;
    cursor: default;
    font-size: 1.5rem;
    font-weight: 400;
    letter-spacing: .1em;
}

.projects-header h2::after,
.contact-header h2::after {
    content: "";
    position: absolute;
    height: 5px;
    background-color: dodgerblue;
    width: 30%;
    left: 50%;
    bottom: 0;
    border-radius: 5px;
    transform: translateX(-50%);
    transition: 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) all;
}

.projects-header h2:hover::after,
.contact-header h2:hover::after {
    width: 100%;
}

footer div {
    color: #808F9E;
    height: 50px;
    margin: 0 auto;
    width: 1280px;
    display: flex;
    /* place-content: center; */
    align-items: center;
    justify-content: center;
    border-top: 2px solid #808F9E;
}

/* wave opacity svg */
.header-wave {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.header-wave svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 105px;
}

.custom-shape-divider-bottom-1633167507 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1633167507 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 105px;
}